body {
  &[route=artist] {
    background-image: url("../images/backgrounds/index.jpg");
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    .masthead {
      display: none;
    }
  }

  a {
    color: #6096CF;
    outline: none;
    &:hover {
      color: #369;
    }
  }

  .w100 {
    width:100%!important;
  }

  .holder {
    width: 100%;
    margin: 0 auto 20px;
  }

  .sector {
    width: 768px;
    margin: auto;
    @media #{$small-only}{
      width:auto;
    }
  }

  .fl {
    float: left;
  }

  .fr {
    float: right;
  }

  .margin-top-0 {
    margin-top: 0;
  }

  // .clear {
  //   clear: both;
  // }
  //
  // .clearfix::after {
  //   visibility: hidden;
  //   display: block;
  //   font-size: 0;
  //   content: " ";
  //   clear: both;
  //   height: 0;
  // }
  //
  // .clearfix {
  //   display: inline-block;
  // }
  //
  // * html .clearfix {
  //   height: 1%;
  // }
  //
  // .clearfix {
  //   display: block;
  // }


  .box {
    width: 365px;
    position: relative;
    @media #{$small-only}{
      width:auto;
      float:none;
      margin:0 auto;
    }
    .box-title {
      font-size: 30px;
      margin: 0 0 10px;
      @media #{$small-only}{
        text-align:center;
        margin:0;
        padding: 20px 0;
      }
    }
    .box-content {
      @media #{$small-only}{
        padding:0 10px
      }
    }
  }

  .multiBox {
    .box {
      margin: 50px 0 0 0;
      @media #{$small-only}{
        margin:0;
      }
      &:first-child {
        margin: 0;
      }
    }
  }

  #row-1 {
    @media #{$small-up}{
      margin: 65px auto 20px;
    }
  }

  /*********************************
             BTM
  **********************************/
  #widget_contact {
    p {
      font-size: 20px;
    }
  }

  #widget_bio {
    p {
      &:first-child {
        margin-top: 15px;
      }
    }
  }

}
