#widget_photos {
  #epk-photos {
    a {
      &:last-child {
        margin: 0 0 0 10px;
      }
    }
  }
  #photos {
    // background: url('../../imgs/carbon_fibre_transparent.png') repeat 0 0 #000;
    background: #212020;
    padding: 10px;
    @media #{$small-only}{
      margin: 0 2% 2% 0;
      &:nth-child(3n+3) {
        margin-right: 0;
      }
    }
    a {
      display: inline-block;
      margin-right: 4px;
      &:nth-child(4n+4) {
        margin-right: 0;
      }
      @media #{$small-only}{
        margin: 0;
      }
    }
    img {
      width: 80px;
      @media #{$small-only}{
        width: 100%;
        margin: 0 0 10px 0;
      }
    }
  }
}
