<div class="">
  <h1 class="cover-heading">HEAR DOPE MUSIC HERE</h1>
  <p class="lead">
    A growing collective of artists from Boston, Pittsburgh and Los Angeles.
    <br>
    Inspired by the greats of the golden age and new age R&amp;B,
    Live Raps is creating the new West Coast sound.
  </p>
  <p class="lead">
    {{#link-to 'index' class="btn btn-lg btn-primary"}}ARTISTS{{/link-to}}
  </p>
</div>
