<div class="">
  <h1 class="cover-heading">DIY EPK</h1>
  <p class="lead">
    Every artist needs an Electronic Press Kit.
    <h3>
      It is your brand.
      <br>
      It is NOT your website.
    </h3>
     It is how you get radio play, book gigs and get attention from managers and booking agents.
    <br>
  </p>
  <p class="lead">
    {{#link-to 'index' class="btn btn-lg btn-primary"}}Create your Press Kit{{/link-to}}
  </p>
</div>
