<div>
  <h1 class="cover-heading">
    DIY EPK</h1>
  <p class="lead">
    Every artist needs an Electronic Press Kit.
    <h3>
      It is your brand.
      <br> It is NOT your website.
    </h3>
    It is how you get radio play, book gigs and get attention from managers and booking agents.
    <br>
  </p>
  <p class="lead">
    <form action="//alanmabry.us9.list-manage.com/subscribe/post?u=523b98f8c0a6ee017328131ff&amp;id=147889c618" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group form-group">
          <label for="mce-NAME">Artist/Band Name
            <span class="asterisk">*</span>
          </label>
          <input type="text" value="" name="NAME" class="required form-control" id="mce-NAME">
        </div>
        <div class="mc-field-group form-group">
          <label for="mce-EMAIL">Email Address
            <span class="asterisk">*</span>
          </label>
          <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL" placeholder="me@email.com">
        </div>
        <div class="mc-field-group form-group">
          <label for="mce-GENRE">Genre </label>
          <select name="GENRE" class="form-control" id="mce-GENRE">
            <option value=""></option>
            <option value="Rap">Rap</option>
            <option value="Hip-Hop">Hip-Hop</option>
            <option value="Underground Rap">Underground Rap</option>
            <option value="Bounce">Bounce</option>
            <option value="Alternative Rap">Alternative Rap</option>
            <option value="Old School Rap">Old School Rap</option>
            <option value="Hardcore Rap">Hardcore Rap</option>
            <option value="West Coast Rap">West Coast Rap</option>
            <option value="Gangsta Rap">Gangsta Rap</option>
            <option value="East Coast Rap">East Coast Rap</option>
            <option value="Dirty South">Dirty South</option>
            <option value="Latin Rap">Latin Rap</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="mc-field-group form-group">
          <label for="mce-SOUNDCLOUD">SoundCloud </label>
          <input type="url" value="" name="SOUNDCLOUD" class="form-control url" id="mce-SOUNDCLOUD" placeholder="soundcloud.com/...">
        </div>
        <div class="mc-field-group form-group">
          <label for="mce-YOUTUBE">YouTube </label>
          <input type="url" value="" name="YOUTUBE" class="form-control url" id="mce-YOUTUBE" placeholder="youtube.com/...">
        </div>
        <div class="mc-field-group form-group">
          <label for="mce-INSTAGRAM">Instagram </label>
          <input type="url" value="" name="INSTAGRAM" class="form-control url" id="mce-INSTAGRAM" placeholder="instagram.com/...">
        </div>
        <div class="mc-field-group form-group">
          <label for="mce-FACEBOOK">Facebook </label>
          <input type="url" value="" name="FACEBOOK" class="form-control url" id="mce-FACEBOOK" placeholder="facebook.com/...">
        </div>
        <div class="mc-field-group form-group">
          <label for="mce-BANNER">Banner Image </label>
          <input type="url" value="" name="BANNER" class="form-control url" id="mce-BANNER" placeholder="website.com/image.jpg">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_523b98f8c0a6ee017328131ff_147889c618" tabindex="-1" value="">
        </div>
        <div class="clear">
          <input type="submit" value="Create your Press Kit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-primary">
        </div>
      </div>
    </form>
  </p>
</div>
