<div class="inner cover">
  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="first-slide" src="images/artists/benji.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <h2>BENJI</h2>
            <p>
              <!-- {{#link-to 'artist' 'benji' class="btn btn-lg btn-primary"}}LISTEN{{/link-to}} -->
              <a class="btn btn-lg btn-primary" href="https://soundcloud.com/liveraps/all-the-way-up-remix-feat-ben-g-and-blizzy-wru?in=liveraps/sets/live-raps-2" target="_blank">LISTEN</a>
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="second-slide" src="images/artists/blizzyWru.jpg" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <h2>BLIZZY WRU</h2>
            <p>
              <!-- <a class="btn btn-lg btn-primary" href="#" role="button">LISTEN</a> -->
              <a class="btn btn-lg btn-primary" href="https://soundcloud.com/liveraps/gabe-thompson-redefinition-feat-blizzy-wru" target="_blank">LISTEN</a>
            </p>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="third-slide" src="images/artists/casDanielsGreatGatsby.jpg" alt="Third slide">
        <div class="container">
          <div class="carousel-caption">
            <h2>CAS + GAT</h2>
            <p>
              <!-- <a class="btn btn-lg btn-primary" href="#" role="button">LISTEN</a> -->
              <a class="btn btn-lg btn-primary" href="https://soundcloud.com/cas-daniels-and-the-great-gatsby/stop-drop-roll-remix?in=liveraps/sets/live-raps-2" target="_blank">LISTEN</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- /.carousel -->

  <!-- <p class="lead">
    <h2 class="cover-heading">Cas Daniels and The Great Gatsby</h2>
    <img src="images/artists/casDanielsGreatGatsby.jpg" />
  </p>
  <p class="lead">
    <a href="#" class="btn btn-lg btn-default">ARTISTS</a>
  </p> -->
</div>
