<div class="">
  <h1 class="cover-heading">Request Confirmed</h1>
  <p class="inner lead">
    Your EPK will be ready in <strong>24 hours</strong> or less.
    <br>
    <br>
    <p>To complete your EPK we will contact you for the following items:</p>
    <p>1. At least one .mp3 &amp; .wav files of your best song</p>
    <p>2. At least one high resolution photo for download</p>
    <br>
    Tell your friends to create their EPK on www.LiveRaps.com.
    <br>
    <br>
    Thank you!
  </p>
  <p class="lead">
    <a class="btn btn-lg btn-primary" href="mailto:gatsby@liveraps.com">Have questions?</a>
  </p>
</div>
